## Problem 1

In [120]:
# install the packages
import numpy as np
import pandas as pd

In [5]:
# read data
gene = pd.read_csv('Data/gene.txt', sep=" ",header=None)

In [6]:
gene = gene.T

In [7]:
gene

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,8589.4163,5468.2409,4263.4075,4064.9357,1997.8929,5282.3250,2169.7200,2773.4212,7526.3862,4607.6762,...,99.110714,67.56125,259.91250,138.89875,88.23250,39.667857,67.82875,75.67750,83.52250,28.70125
1,9164.2537,6719.5295,4883.4487,3718.1589,2015.2214,5569.9071,3849.0588,2793.3875,7017.7338,4802.2524,...,126.789290,92.23875,96.27625,150.59000,82.23750,85.033333,152.19500,186.56750,44.47250,16.77375
2,3825.7050,6970.3614,5369.9688,4705.6500,1166.5536,1572.1679,1325.4025,1472.2587,3296.9512,2786.5821,...,151.877380,82.71500,31.10250,193.92000,76.97250,224.620240,31.22500,42.65625,16.09250,15.15625
3,6246.4487,7823.5341,5955.8350,3975.5643,2002.6131,2130.5429,1531.1425,1714.6312,3869.7850,4989.4071,...,152.595240,41.68375,5.92500,183.00625,74.52875,67.710714,48.33875,42.52000,49.98250,16.08500
4,3230.3287,3694.4500,3400.7400,3463.5857,2181.4202,2922.7821,2069.2463,2948.5750,3303.3712,3109.4131,...,126.464290,76.60375,161.35000,61.70125,54.56375,223.359520,73.09875,57.59875,7.48875,31.81250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,4972.1662,4173.9182,3668.5338,1567.5554,1570.4405,3466.8107,2106.4987,1535.7575,1887.6212,3519.6000,...,70.667857,6.44750,156.44500,93.95000,86.90875,95.442857,31.18750,57.15250,13.96000,10.54750
58,9112.3725,6824.4864,5982.8463,3147.0429,4847.3083,11222.6820,6333.4725,4299.5025,4644.4425,5888.5464,...,129.404760,35.87875,342.65000,84.75125,60.27375,143.877380,8.99625,106.87875,23.20250,32.16625
59,6730.6250,3472.1250,2559.4625,2624.6893,1596.2179,4372.7893,3798.5262,1026.4775,3512.3338,3243.1690,...,254.865480,119.96250,111.60375,166.75500,130.45500,124.253570,96.46500,133.52125,93.09875,7.43250
60,6234.6225,4005.3000,3093.6750,3183.0857,1795.3107,3940.8464,2019.8500,1406.6500,2927.7938,2177.3202,...,190.711900,85.25875,206.53625,80.44875,104.80500,180.941670,68.93375,118.20125,32.68750,23.26500
61,7472.0100,3653.9341,2728.2162,3494.4804,2404.6655,5791.6071,2876.4212,2150.9588,3767.0025,2685.3000,...,178.946430,63.63500,437.65250,178.27250,153.84875,269.436900,67.86250,77.21500,49.86250,39.63125

In [20]:
index = pd.read_csv('Data/index.txt', sep="\t",header=None)

In [21]:
index=index.T
index

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,Hsa.3004,Hsa.13491,Hsa.13491,Hsa.37254,Hsa.541,Hsa.20836,Hsa.1977,Hsa.44472,Hsa.3087,Hsa.1447,...,Hsa.2618,Hsa.27285,Hsa.41260,Hsa.14822,Hsa.336,Hsa.984,Hsa.35124,Hsa.3952,Hsa.32734,Hsa.9683
1,H55933,R39465,R39465,R85482,U14973,R02593,T51496,H80240,T65938,T55131,...,X67699,R70790,L11706,T90549,D17390,M33210,H18490,H40891,R77780,T49647
2,3' UTR,3' UTR,3' UTR,3' UTR,gene,3' UTR,3' UTR,3' UTR,3' UTR,3' UTR,...,gene,3' UTR,gene,3' UTR,gene,gene,3' UTR,3' UTR,3' UTR,3' UTR
3,1,2a,2a,2a,1,2a,1,2a,1,1,...,1,2a,1,2a,1,1,2a,2a,2a,2a
4,203417,23933,23933,180093,NaN,124094,71488,240814,81639,73931,...,NaN,142585,NaN,110713,NaN,NaN,171840,175983,145300,67762
5,H.sapiens mRNA for homologue to yeast ribosoma...,EUKARYOTIC INITIATION FACTOR 4A (Oryctolagus c...,EUKARYOTIC INITIATION FACTOR 4A (Oryctolagus c...,SERUM RESPONSE FACTOR (Homo sapiens) ...,"Human ribosomal protein S29 mRNA, complete cds...",60S ACIDIC RIBOSOMAL PROTEIN P1 (Polyorchis pe...,60S RIBOSOMAL PROTEIN L37A (HUMAN). ...,INTER-ALPHA-TRYPSIN INHIBITOR COMPLEX COMPONEN...,TRANSLATIONALLY CONTROLLED TUMOR PROTEIN (HUMA...,"GLYCERALDEHYDE 3-PHOSPHATE DEHYDROGENASE, LIVE...",...,H.sapiens HE5 mRNA for CDw52 antigen. ...,GTP:AMP PHOSPHOTRANSFERASE MITOCHONDRIAL (Ratt...,"Human hormone-sensitive lipase (LIPE) gene, co...",P-SELECTIN PRECURSOR (Homo sapiens) ...,Human mRNA for MDC protein. ...,Human colony stimulating factor 1 receptor (CS...,RAN GTPASE ACTIVATING PROTEIN 1 (Mus musculus)...,NODULATION PROTEIN Q (Azospirillum brasilense)...,TRANSPOSABLE ELEMENT ACTIVATOR (Zea mays) ...,MYRISTOYLATED ALANINE-RICH C-KINASE SUBSTRATE ...

In [106]:
gene.columns = index.iloc[0,].str.strip()

In [107]:
gene

,Hsa.3004,Hsa.13491,Hsa.13491,Hsa.37254,Hsa.541,Hsa.20836,Hsa.1977,Hsa.44472,Hsa.3087,Hsa.1447,...,Hsa.2618,Hsa.27285,Hsa.41260,Hsa.14822,Hsa.336,Hsa.984,Hsa.35124,Hsa.3952,Hsa.32734,Hsa.9683
0,8589.4163,5468.2409,4263.4075,4064.9357,1997.8929,5282.3250,2169.7200,2773.4212,7526.3862,4607.6762,...,99.110714,67.56125,259.91250,138.89875,88.23250,39.667857,67.82875,75.67750,83.52250,28.70125
1,9164.2537,6719.5295,4883.4487,3718.1589,2015.2214,5569.9071,3849.0588,2793.3875,7017.7338,4802.2524,...,126.789290,92.23875,96.27625,150.59000,82.23750,85.033333,152.19500,186.56750,44.47250,16.77375
2,3825.7050,6970.3614,5369.9688,4705.6500,1166.5536,1572.1679,1325.4025,1472.2587,3296.9512,2786.5821,...,151.877380,82.71500,31.10250,193.92000,76.97250,224.620240,31.22500,42.65625,16.09250,15.15625
3,6246.4487,7823.5341,5955.8350,3975.5643,2002.6131,2130.5429,1531.1425,1714.6312,3869.7850,4989.4071,...,152.595240,41.68375,5.92500,183.00625,74.52875,67.710714,48.33875,42.52000,49.98250,16.08500
4,3230.3287,3694.4500,3400.7400,3463.5857,2181.4202,2922.7821,2069.2463,2948.5750,3303.3712,3109.4131,...,126.464290,76.60375,161.35000,61.70125,54.56375,223.359520,73.09875,57.59875,7.48875,31.81250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,4972.1662,4173.9182,3668.5338,1567.5554,1570.4405,3466.8107,2106.4987,1535.7575,1887.6212,3519.6000,...,70.667857,6.44750,156.44500,93.95000,86.90875,95.442857,31.18750,57.15250,13.96000,10.54750
58,9112.3725,6824.4864,5982.8463,3147.0429,4847.3083,11222.6820,6333.4725,4299.5025,4644.4425,5888.5464,...,129.404760,35.87875,342.65000,84.75125,60.27375,143.877380,8.99625,106.87875,23.20250,32.16625
59,6730.6250,3472.1250,2559.4625,2624.6893,1596.2179,4372.7893,3798.5262,1026.4775,3512.3338,3243.1690,...,254.865480,119.96250,111.60375,166.75500,130.45500,124.253570,96.46500,133.52125,93.09875,7.43250
60,6234.6225,4005.3000,3093.6750,3183.0857,1795.3107,3940.8464,2019.8500,1406.6500,2927.7938,2177.3202,...,190.711900,85.25875,206.53625,80.44875,104.80500,180.941670,68.93375,118.20125,32.68750,23.26500
61,7472.0100,3653.9341,2728.2162,3494.4804,2404.6655,5791.6071,2876.4212,2150.9588,3767.0025,2685.3000,...,178.946430,63.63500,437.65250,178.27250,153.84875,269.436900,67.86250,77.21500,49.86250,39.63125

In [116]:
label = pd.read_csv('Data/label.txt', sep=" ",header=None)

In [117]:
label.columns = ['label_sign']
# replace positive with 1 and negative with 0
label['label_sign'] = label['label_sign'].apply(lambda x : 1 if x > 0 else 0)
label

    label_sign
0            0
1            1
2            0
3            1
4            0
..         ...
57           0
58           0
59           1
60           0
61           1

[62 rows x 1 columns]

In [118]:
from sklearn.feature_selection import SelectKBest, f_classif , chi2

In [119]:
selector = SelectKBest(score_func=chi2, k=60)
new_data = selector.fit_transform(gene, label)
mask = selector.get_support()
new_features = gene.columns[mask]
new_features

Index(['Hsa.3087', 'Hsa.750', 'Hsa.467', 'Hsa.539', 'Hsa.3002', 'Hsa.4689',
       'Hsa.878', 'Hsa.8068', 'Hsa.5398', 'Hsa.5444', 'Hsa.8125', 'Hsa.678',
       'Hsa.2800', 'Hsa.954', 'Hsa.489', 'Hsa.1985', 'Hsa.3566', 'Hsa.10755',
       'Hsa.1737', 'Hsa.957', 'Hsa.451', 'Hsa.558', 'Hsa.733', 'Hsa.832',
       'Hsa.1130', 'Hsa.951', 'Hsa.692', 'Hsa.8147', 'Hsa.41315', 'Hsa.692',
       'Hsa.43279', 'Hsa.1534', 'Hsa.891', 'Hsa.538', 'Hsa.1221', 'Hsa.2588',
       'Hsa.37937', 'Hsa.831', 'Hsa.3306', 'Hsa.285', 'Hsa.3305', 'Hsa.692',
       'Hsa.773', 'Hsa.3349', 'Hsa.316', 'Hsa.1131', 'Hsa.140', 'Hsa.36952',
       'Hsa.3068', 'Hsa.3348', 'Hsa.1205', 'Hsa.1047', 'Hsa.3016', 'Hsa.1902',
       'Hsa.2715', 'Hsa.1832', 'Hsa.2344', 'Hsa.2688', 'Hsa.11616', 'Hsa.33'],
      dtype='object', name=0)

### (a) Simply describe your feature selection method.

Univariate Feature Selection
The simplest and fastest methods are based on univariate statistical tests. For each feature, measure how strongly the target depends on the feature using a statistical test like  𝜒2.

From the scikit-learn feature selection module, feature_selection.SelectKBest returns the K best features given some scoring function. For our classification problem, the module provides scoring functions:  𝜒2.

With SelectKBest, we define the number of features to keep, based on the score from the scoring function. Using .fit_transform(features, target) we get back an array with only the selected features.

在特徵選擇中，最適合在探索階段使用的就是有效的單變量選擇法。

第一題中 simple feature selection using naive one-by-one selection 我使用的是 sklearn中的單變量選擇法，
單變量選擇法的主要思路是根據某些統計檢驗的方法分別對每個變量進行檢驗，得到一組分數、p-value數據，然後我們排序選擇分數最高(或p-value最小等)的那些特徵。在sklearn中，分別針對不同的統計檢驗方法和不同的排序選擇標準提供了不同的工具，比如用於回歸問題的f_regression、mutual_info_regression分數，用於分類問題的f_classif、chi2、mutual_info_classf分數；以及用於特徵排序和選擇的SelectKBest、SelectPercentile、SelectFpr等。把這兩類工具相結合，就可以完成特徵選擇的任務了。

顧名思義，SelectKBest方法就是從所有特徵中挑選出最好的K個特徵組成新的特徵集。如何來定義最好呢？這要取決於我們傳入的評分函數，該方法默認會使用f_classif，這種方法適用於為分類模型評估特徵，與之對應的是f_regression，它適用於回歸模型的特徵評估。
但在這題我使用的是Chi-squared test，然後將分數從高到低排序，選出分數最高的前60個Feature，作為我Feature Selection所挑選出來的Feature結果

chi2:

Chi-squared stats of non-negative features for classification tasks.

### (b) Show your result of the feature selection. Which features are selected?

In [123]:
new_features

Index(['Hsa.3087', 'Hsa.750', 'Hsa.467', 'Hsa.539', 'Hsa.3002', 'Hsa.4689',
       'Hsa.878', 'Hsa.8068', 'Hsa.5398', 'Hsa.5444', 'Hsa.8125', 'Hsa.678',
       'Hsa.2800', 'Hsa.954', 'Hsa.489', 'Hsa.1985', 'Hsa.3566', 'Hsa.10755',
       'Hsa.1737', 'Hsa.957', 'Hsa.451', 'Hsa.558', 'Hsa.733', 'Hsa.832',
       'Hsa.1130', 'Hsa.951', 'Hsa.692', 'Hsa.8147', 'Hsa.41315', 'Hsa.692',
       'Hsa.43279', 'Hsa.1534', 'Hsa.891', 'Hsa.538', 'Hsa.1221', 'Hsa.2588',
       'Hsa.37937', 'Hsa.831', 'Hsa.3306', 'Hsa.285', 'Hsa.3305', 'Hsa.692',
       'Hsa.773', 'Hsa.3349', 'Hsa.316', 'Hsa.1131', 'Hsa.140', 'Hsa.36952',
       'Hsa.3068', 'Hsa.3348', 'Hsa.1205', 'Hsa.1047', 'Hsa.3016', 'Hsa.1902',
       'Hsa.2715', 'Hsa.1832', 'Hsa.2344', 'Hsa.2688', 'Hsa.11616', 'Hsa.33'],
      dtype='object', name=0)

以下是我用Univariate Feature Selection所挑選出來的Feature結果

Feature如下：
['Hsa.3087', 'Hsa.750', 'Hsa.467', 'Hsa.539', 'Hsa.3002', 'Hsa.4689',
       'Hsa.878', 'Hsa.8068', 'Hsa.5398', 'Hsa.5444', 'Hsa.8125', 'Hsa.678',
       'Hsa.2800', 'Hsa.954', 'Hsa.489', 'Hsa.1985', 'Hsa.3566', 'Hsa.10755',
       'Hsa.1737', 'Hsa.957', 'Hsa.451', 'Hsa.558', 'Hsa.733', 'Hsa.832',
       'Hsa.1130', 'Hsa.951', 'Hsa.692', 'Hsa.8147', 'Hsa.41315', 'Hsa.692',
       'Hsa.43279', 'Hsa.1534', 'Hsa.891', 'Hsa.538', 'Hsa.1221', 'Hsa.2588',
       'Hsa.37937', 'Hsa.831', 'Hsa.3306', 'Hsa.285', 'Hsa.3305', 'Hsa.692',
       'Hsa.773', 'Hsa.3349', 'Hsa.316', 'Hsa.1131', 'Hsa.140', 'Hsa.36952',
       'Hsa.3068', 'Hsa.3348', 'Hsa.1205', 'Hsa.1047', 'Hsa.3016', 'Hsa.1902',
       'Hsa.2715', 'Hsa.1832', 'Hsa.2344', 'Hsa.2688', 'Hsa.11616', 'Hsa.33']